footer {
  .footer__M1 {
    background-color: $beige;
    padding: 3rem 0.75rem;
    @media only screen and (min-width: 992px) {
      display: flex;
      justify-content: space-around;
    }
    @media only screen and (min-width: 992px) {
      justify-content: space-evenly;
    }
    .M1__header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0 1rem;
      .header__banner {
        align-items: center;
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        width: 350px;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        img {
          max-width: 325px;
          @media only screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }
      .header__text {
        color: $blue;
        display: flex;
        justify-content: center;
        margin: 0 0 0.5rem 0;
        p {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 30px;
          margin: 1.5rem 0;
        }
      }
      .header__social {
        display: flex;
        justify-content: center;
        width: 100%;
        .social__block {
          align-items: center;
          background-color: $orange;
          border: 0;
          border-radius: 0.5rem;
          display: flex;
          height: 65px;
          justify-content: center;
          margin: 0 0.5rem;
          width: 65px;
          &:first-child {
            margin: 0 0.5rem 0 0;
          }
          &:last-child {
            margin: 0 0rem 0 0.5rem;
          }
        }
      }
    }
    .M1__main {
      align-items: center;
      display: flex;
      flex-basis: 700px;
      flex-flow: column wrap;
      gap: 0 1rem;
      margin: 1rem auto;
      @media only screen and (min-width: 992px) {
        align-content: center;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: auto 0;
      }
      .main__block {
        align-items: center;
        border-bottom: $blue 1px solid;
        color: $blue;
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 30px;
        padding: 1.5rem 0;
        text-decoration: none;
        width: 100%;
        @media only screen and (min-width: 992px) {
          font-size: 1.25rem;
          height: 75px;
          margin: 0 0.25rem;
          max-width: 350px;
          padding: 0.5rem 0;
          width: 47.5%;
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .footer__M2 {
    background-color: $blue;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    @media only screen and (min-width: 992px) {
      padding: 3rem 1.25rem 4rem 1.25rem;
    }
    .M2__main {
      display: flex;
      flex-wrap: wrap;
      .main__block {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem auto;
        max-width: 400px;
        @media only screen and (min-width: 992px) {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 1rem auto;
          max-width: 275px;
        }
        p {
          color: $beige;
          font-size: 0.875rem;
          font-weight: 450;
          margin: 0.25rem 0;
          text-align: center;
          @media only screen and (min-width: 992px) {
            font-size: 1rem;
            line-height: 1.25rem;
          }
          &:last-child {
            font-weight: 700;
          }
        }
      }
      .block__logo {
        align-self: center;
        margin: 0.5rem auto 1rem auto;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        @media only screen and (min-width: 992px) {
          margin: 1rem auto 2rem auto;
        }
      }
      .block__legal {
        margin: 0 auto 1rem auto;
        @media only screen and (min-width: 992px) {
          align-items: center;
          display: flex;
          margin: 0 auto 2rem auto;
          width: 750px;
        }
        p {
          color: $beige;
          font-size: 0.625rem;
          font-weight: 450;
          line-height: 15px;
          @media only screen and (min-width: 992px) {
            font-size: 0.75rem;
            margin: 0;
          }
        }
      }
      .block__qr {
        margin: 0 auto;
      }
    }
  }
}
