/* General styling */

*,
::after,
::before {
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.wrapper {
  /* Agrego un wrapper de max-width 1600px para lidiar con el stretching en dispositivos grandes */
  margin: 0 auto;
  max-width: 1600px;
}

.button-main {
  background-color: $yellow;
  border: 0;
  border-radius: 1.5rem;
  color: $blue;
  font-size: $font-sm;
  font-weight: 700;
  max-width: fit-content;
  padding: 0.5em 1.5em;
  text-decoration: none;
  &:hover {
    background-color: $orange;
    color: #fff;
  }
}

.button-secondary {
  background-color: $blue;
  border: 0;
  border-radius: 1.5rem;
  color: $yellow;
  display: flex;
  font-size: $font-xs;
  font-weight: 700;
  justify-content: center;
  max-width: 250px;
  padding: 0.5em 1.75em;
  text-decoration: none;
  &:hover {
    background-color: $yellow;
    color: $blue;
  }
}

.whatsapp-fixed {
  display: none;
  @media only screen and (min-width: 768px) {
    align-items: center;
    background-color: #25d366;
    border-radius: 50px;
    bottom: 20px;
    box-shadow: 2px 2px 3px #575656;
    display: flex;
    font-size: 30px;
    height: 75px;
    justify-content: center;
    position: fixed;
    right: 20px;
    width: 75px;
    text-align: center;
    z-index: 1000000;
    svg {
      color: #fff;
    }
  }
}
