.header {
  nav {
    background-color: $blue;
    padding: 1.5rem 0.75rem;
    .container-fluid {
      max-width: 600px;
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;
      @media only screen and (min-width: 992px) {
        max-width: none;
      }
      @media only screen and (min-width: 1200px) {
        /* 
        Uso la función calc, que me permite un valor variable para max-width en el container-fluid.
        Para 1200px de pantalla, el max-width del container (para quedar alineado con lo de abajo)
        debe ser 900px. Si aplico regla de 3 (siendo 100vw el tamaño de la pantalla en un determinado momento)
        el cálculo sería 100vw * 900px / 1200px. Dado que 900/1200 = 0.75, el cálculo final es 100vw * 0.75
        */
        max-width: calc(100vw * 0.75);
      }
      img {
        width: 150px;
      }
      .navbar-toggler {
        border: 0;
        font-size: 1rem;
        &:focus {
          box-shadow: none;
        }
        .navbar-toggler-icon {
          background-image: url("./../media/hamburger.svg");
        }
      }
      .navbar-collapse {
        @media only screen and (min-width: 992px) {
          justify-content: flex-end;
        }
        .navbar-nav {
          align-items: flex-end;
          @media only screen and (min-width: 992px) {
            align-items: center;
          }
          .nav-link {
            color: $beige;
            font-size: 1.125rem;
            font-weight: 700;
            margin: 0.25rem 0;
            @media only screen and (min-width: 992px) {
              font-weight: 700;
              margin: 0 0.5rem;
            }
            &:nth-child(2) {
              text-decoration: underline;
            }
            &:last-child {
              align-items: center;
              background-color: $yellow;
              border-radius: 1.5rem;
              color: $blue;
              display: flex;
              margin: 0.5rem 0 0 0;
              padding: 0.5rem 1.25rem;
              &:hover {
                background-color: $orange;
              }
              @media only screen and (min-width: 992px) {
                background-color: $yellow;
                border-radius: 1.5rem;
                color: $blue;
                margin: 0 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
