.main {
  background-color: $gray;
  padding: 121px 0 0 0; /* El padding top debe ser igual a la altura de la navbar */
  .main__hero {
    background-color: $beige;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .hero__content-header {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      max-width: 600px;
      padding: 3rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-basis: 40%;
        margin: 0 auto;
        padding: 3rem 0 0 1.5rem;
      }
      @media only screen and (min-width: 1200px) {
        flex-basis: 30%;
      }
      h1,
      p {
        color: $blue;
        text-align: center;
      }
      h1 {
        font-size: $font-xxl;
        font-weight: 700;
        line-height: 3.5rem;
        @media only screen and (min-width: 992px) {
          margin: 0 auto 0 0;
          text-align: left;
        }
      }
      p {
        font-size: $font-sm;
        font-weight: 450;
        margin: 1.5rem 0;
        @media only screen and (min-width: 992px) {
          margin: 1.5rem auto 1.5rem 0;
          max-width: 425px;
          text-align: left;
        }
      }
      a {
        @media only screen and (min-width: 992px) {
          margin: 0 auto 0 0;
        }
      }
    }
    .hero__content-image {
      margin: 0 auto;
      padding: 1rem 0 0 0;
      @media only screen and (min-width: 992px) {
        flex-basis: 60%;
        margin: 0;
        padding: 0;
      }
      img {
        margin: 0 0 0 auto;
      }
    }
    .hero__content-info {
      background-color: $gray;
      padding: 4rem 0.75rem;
      width: 100%;
      .card {
        align-items: flex-start;
        background-color: $yellow;
        border-radius: 2rem;
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        max-width: fit-content;
        padding: 2rem 1.25rem;
        @media only screen and (min-width: 992px) {
          padding: 3rem 5rem;
        }
        .card-item {
          align-items: flex-start;
          display: flex;
          margin: 0 0 1rem 0;
          @media only screen and (min-width: 576px) {
            align-items: center;
          }
          &:last-of-type {
            margin: 0;
          }
          svg {
            flex-basis: 2.5rem;
            flex-shrink: 0;
            height: 2.5rem;
            margin: 0 1rem 0 0;
          }
          p {
            color: $blue;
            font-size: 1.125rem;
            margin: 0;
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .main__M1 {
    background-color: $blue;
    display: flex;
    flex-flow: column wrap;
    padding: 3rem 0.75rem;
    p {
      color: $beige;
    }
    .M1__content-header {
      margin: 0 0 2rem 0;
      p {
        margin: 0 0 1.5rem 0;
        text-align: center;
        &:nth-of-type(1) {
          font-size: $font-xs;
          font-weight: 700;
        }
        &:nth-of-type(2) {
          font-size: $font-xl;
          font-weight: 700;
          line-height: $font-xl;
        }
        &:nth-of-type(3) {
          font-size: $font-xs;
          margin: 0;
        }
      }
    }
    .M1__content-main {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 0 0 2rem 0;
      max-width: 950px;
      @media only screen and (min-width: 768px) {
        margin: 0 auto 2rem auto;
        padding: 0 2rem;
      }
      .main__text {
        margin: 0 0 2rem 0;
        @media only screen and (min-width: 768px) {
          flex-basis: 60%;
          justify-content: flex-start;
          margin: 2rem 0;
        }
        & > p {
          font-size: $font-lg;
          font-weight: 700;
          margin: 0 0 1.25rem 0;
          text-align: center;
          @media only screen and (min-width: 768px) {
            max-width: fit-content;
          }
        }
        .main__text-item {
          align-items: flex-start;
          display: flex;
          flex-flow: row nowrap;
          margin: 0 0 1rem 0;
          &:last-of-type {
            margin: 0;
          }
          svg {
            flex-basis: 3rem;
            flex-shrink: 0;
            height: 3rem;
            margin: 0.25rem 1rem 0 0;
          }
          p {
            font-size: $font-xs;
          }
        }
      }
      .main__image {
        display: flex;
        @media only screen and (min-width: 768px) {
          flex-basis: 40%;
          justify-content: center;
        }
        img {
          align-self: center;
        }
      }
    }
    .M1__content-footer {
      background-color: $green;
      border-radius: 2rem;
      display: flex;
      flex-flow: column wrap;
      margin: 0 0 2rem 0;
      max-width: 950px;
      padding: 1.5rem;
      @media only screen and (min-width: 768px) {
        margin: 0 auto 2rem auto;
        padding: 2rem 5.75rem;
      }
      p {
        color: #fff;
        font-size: $font-sm;
        text-align: center;
        &:first-of-type {
          font-weight: 700;
        }
        &:last-of-type {
          max-width: 650px;
        }
      }
    }
    .button-main {
      margin: 0 auto;
      @media only screen and (min-width: 768px) {
        padding: 0.5em 2.75em;
      }
    }
  }
  .main__M2 {
    color: $blue;
    padding: 5rem 0.75rem;
    .M2__content-header {
      margin: 0 auto 2rem auto;
      max-width: 850px;
      h1 {
        font-size: $font-xxl;
        font-weight: 700;
        line-height: 3.25rem;
        margin: 0 0 1.5rem 0;
        text-align: center;
      }
      p {
        font-size: $font-sm;
        text-align: center;
        &:last-of-type {
          margin: 0 auto;
          max-width: 650px;
        }
      }
    }
    .M2__content-main {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .main__information {
        background-color: #fff;
        border: $blue 1px solid;
        border-radius: 1.75rem;
        display: flex;
        flex-flow: column wrap;
        margin: 1rem 0.5rem;
        max-width: 435px;
        padding: 3rem 0.5rem 1.5rem 0.5rem;
        position: relative;
        & > div {
          border-bottom: $blue 1px solid;
          display: flex;
          flex-flow: column wrap;
          padding: 1.5rem 1rem;
          width: 100%;
          &:nth-of-type(1) {
            align-items: center;
            flex-flow: column wrap;
            font-size: $font-md;
            font-weight: 700;
            padding: 3.5rem 0 0 0;
            text-align: center;
            p {
              &:first-child {
                font-weight: 900;
              }
            }
          }
          &:nth-of-type(2) {
            align-items: center;
            font-size: $font-xxl;
            text-align: center;
            p {
              line-height: 3rem;
              span {
                font-weight: 700;
              }
            }
          }
          &:nth-of-type(3),
          &:nth-of-type(8) {
            align-items: center;
            font-size: $font-lg;
            font-weight: 700;
            text-align: center;
          }
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6),
          &:nth-of-type(7),
          &:nth-of-type(9) {
            align-items: flex-start;
            font-size: $font-xs;
            text-align: left;
            a {
              color: $blue;
              font-weight: 700;
              text-decoration: underline;
            }
          }
          &:nth-of-type(10) {
            border: 0;
            flex-flow: row wrap;
            justify-content: center;
            padding: 1.5rem 0 0 0;
            .button-secondary {
              width: 100%;
            }
          }
        }
        & > svg {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  .main__M3 {
    background-color: $beige;
    .M3__content-header {
      padding: 3rem 0 0 0;
      p {
        color: $blue;
        font-size: $font-xxl;
        font-weight: 700;
        text-align: center;
      }
    }
    .M3__content-main {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 1rem 0 0 0;
      padding: 0 0.75rem 3rem 0.75rem;
      @media only screen and (min-width: 1200px) {
        flex-flow: row wrap;
        margin: 2.75rem 0 0 0;
        padding: 0 0.25rem 3rem 0.25rem;
      }
      .main__block {
        margin: 1rem 0;
        max-width: 375px;
        width: 100%;
        @media only screen and (min-width: 1200px) {
          margin: 0 0.25rem;
        }
        svg {
          flex-basis: 5rem;
          flex-shrink: 0;
          height: 5rem;
          margin: 0 0 0.5rem 0;
        }
        .block__card {
          align-items: flex-start;
          background-color: $orange;
          border-radius: 1.5rem;
          color: #fff;
          display: flex;
          flex-flow: column wrap;
          min-height: 250px;
          justify-content: center;
          padding: 1.75rem 1.25rem;
          width: 100%;
          @media only screen and (min-width: 1200px) {
            align-items: flex-start;
            justify-content: center;
          }
          &.less-text {
            a {
              @media only screen and (min-width: 1200px) {
                margin: 1.875rem auto 0 auto;
              }
            }
          }
          h2 {
            font-size: $font-md;
            font-weight: 700;
            margin: 0;
          }
          p {
            font-size: $font-xs;
            margin: 0.5rem 0;
          }
          a {
            width: 250px;
            @media only screen and (min-width: 1200px) {
              margin: 0 auto;
            }
          }
        }
      }
    }
    .M3__content-footer {
      background-color: $blue;
      color: $beige;
      padding: 6rem 0.75rem;
      p {
        @media only screen and (min-width: 576px) {
          text-align: center;
        }
        &:nth-of-type(1) {
          font-size: $font-xl;
          font-weight: 700;
          line-height: 3.25rem;
        }
        &:nth-of-type(2) {
          font-size: $font-sm;
          margin: 1.5rem 0;
        }
      }
      .footer__links {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        @media only screen and (min-width: 576px) {
          justify-content: center;
        }
        .button-secondary {
          align-items: center;
          background-color: $yellow;
          color: $blue;
          margin: 0.75rem auto;
          max-width: 300px;
          &:hover {
            background-color: $beige;
          }
          @media only screen and (min-width: 576px) {
            margin: 0 0.75rem;
          }
          svg {
            margin: 0 0.5rem 0 0;
          }
        }
      }
    }
  }
  .main__M4 {
    background-color: $gray;
    color: $blue;
    padding: 3rem 0.75rem;
    scroll-margin-top: 200px; /* Altura de la navbar + un extra para que el destino esté centrado */
    .M4__content-header {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      p {
        font-size: $font-xl;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        text-align: center;
      }
      div {
        font-size: $font-sm;
        margin: 0 0 2.5rem 0;
        a {
          color: $blue;
          text-underline-offset: 0.35rem;
        }
      }
    }
    .M4__content-main {
      .main__block {
        background-color: #fff;
        border: $blue 1px solid;
        border-radius: 1rem;
        margin: 1rem auto;
        max-width: 700px;
        padding: 2rem;
        scroll-margin-top: 200px; /* Altura de la navbar + un extra para que el destino esté centrado */
        & > p {
          &:nth-of-type(1) {
            background-color: $yellow;
            border-radius: 0.75rem;
            padding: 0.5em 1.25em;
            width: fit-content;
          }
          &:nth-of-type(2) {
            font-size: $font-xs;
            margin: 2.5rem 0 1rem 0;
          }
          span {
            font-weight: 700;
          }
        }
        #accordion {
          .accordion-item {
            border: 0;
            border-width: 0;
            color: $blue;
            margin: 0.5rem auto;
            .accordion-header {
              .accordion-button {
                border-bottom: $orange 1px solid;
                color: $blue;
                font-size: $font-sm;
                font-weight: 700;
                line-height: 1.875rem;
                padding: 1rem 0;
                text-align: left;
                &:focus {
                  box-shadow: none;
                }
                &::after {
                  background-image: url("./../media/plus.svg");
                }
                &:not(.collapsed) {
                  background: none;
                  &::after {
                    background-image: url("./../media/minus.svg");
                  }
                }
              }
            }
            .accordion-collapse {
              .accordion-body {
                border: 0;
                font-size: $font-xs;
                font-weight: 450;
                line-height: 2rem;
                padding: 1rem 0 1.25rem 0;
                text-align: left;
                ul {
                  margin: 0;
                }
              }
            }
          }
        }
        & > a {
          margin: 2rem auto 0 auto;
          &:hover {
            background-color: $orange;
            color: #fff;
          }
        }
      }
    }
  }
  .main__M5 {
    background-color: $yellow;
    display: flex;
    flex-flow: column wrap;
    padding: 0 0.75rem;
    @media only screen and (min-width: 992px) {
      flex-flow: row wrap;
    }
    .M5__content-text {
      color: $blue;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 750px;
      padding: 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-basis: 50%;
        order: 2;
      }
      p {
        margin: 0.5rem 0;
        &:nth-of-type(1) {
          font-size: $font-xl;
          font-weight: 700;
        }
        &:nth-of-type(2) {
          font-size: $font-sm;
        }
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(6) {
          font-size: $font-xs;
          font-weight: 700;
        }
        &:nth-of-type(5),
        &:nth-of-type(7) {
          font-size: 1.125rem;
        }
      }
    }
    .M5__content-image {
      display: flex;
      margin: 0 auto;
      max-width: 525px;
      @media only screen and (min-width: 992px) {
        flex-basis: 50%;
        justify-content: center;
        order: 1;
        img {
          align-self: end;
        }
      }
    }
  }
  .main__M6 {
    .M6__content-header {
      color: $blue;
      display: flex;
      padding: 2rem 0.75rem;
      p {
        font-size: $font-xl;
        font-weight: 700;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
      }
    }
    .M6__content-main {
      .main__block {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .block__card {
          align-items: center;
          background-color: $green;
          border-radius: 1rem;
          color: #fff;
          display: flex;
          font-weight: 600;
          margin: 1rem;
          height: 75px;
          padding: 0 0.75em;
          width: 300px;
          svg {
            flex-basis: 2.5rem;
            flex-shrink: 0;
            height: 2.5rem;
            margin: 0 0.5rem 0 0;
          }
        }
      }
      .button-secondary {
        margin: 1rem auto;
        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
    }
    .M6__content-footer {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      margin: 3rem 0 0 0;
      position: relative;
      @media only screen and (min-width: 992px) {
        margin: 4rem 0 0 0;
      }
      @media only screen and (min-width: 1200px) {
        min-height: 450px;
      }
      .footer__block {
        background-color: $orange;
        border-radius: 1rem;
        height: fit-content;
        margin: 0 auto;
        max-width: 750px;
        padding: 1.75rem 2.5rem;
        width: 90%;
        @media only screen and (min-width: 992px) {
          margin: auto auto auto 2rem;
          max-width: 500px;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 750px;
        }
        @media only screen and (min-width: 1366px) {
          margin: auto auto auto 6rem;
          max-width: 850px;
          padding: 1.75rem 3rem 1.75rem 2.5rem;
        }
        p {
          color: #fff;
          margin: 0.75rem 0;
          &:nth-of-type(1) {
            font-size: $font-xl;
            font-weight: 700;
            margin: 0;
          }
          &:nth-of-type(2) {
            font-size: $font-xs;
          }
          &:nth-of-type(3) {
            font-size: $font-xs;
            font-weight: 700;
          }
        }
      }
      & > img {
        max-width: 500px;
        width: 100%;
        @media only screen and (min-width: 992px) {
          bottom: 0;
          right: 0;
          position: absolute;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 600px;
        }
        @media only screen and (min-width: 1366px) {
          max-width: 700px;
        }
      }
    }
  }
}
