$font: "Circular Std", sans-serif;

$beige: #f9f4e1;
$blue: #323d4a;
$gray: #f5f5f5;
$orange: #ff8542;
$white: #fff;
$yellow: #f3d52a;

$font-xxl: 3rem;
$font-xl: 2.5rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1.25rem;
$font-xs: 1rem;
